@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: nato-sans;
    src: url(font/NotoSansTC-VariableFont_wght.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}

.font-nato-sans {
    font-family: nato-sans;
}
.font-montserrat {
    font-family: montserrat;
}
.font-outfit {
    font-family: outfit;
}

.headline-main {
    @apply text-[2rem] font-montserrat font-semibold 
}

.list-about {
    @apply pl-[15px] py-[2px] border-l-2 border-white cursor-pointer
}

.list-about-active {
    @apply !border-blue-500
}